aws_region = "us-east-1"

vpc_cidr = "10.0.0.0/16"

availability_zones = [
  "us-east-1a",
  "us-east-1b"
]

public_subnet_cidrs = [
  "10.0.1.0/24",
  "10.0.2.0/24"
]

private_subnet_cidrs = [
  "10.0.11.0/24",
  "10.0.12.0/24"
]

enable_nat_gateway = true
single_nat_gateway = false

eks_cluster_name    = "voting-dev-eks"
eks_cluster_version = "1.31"

eks_node_instance_types = [
  "t3.medium"
]

eks_node_min_size     = 1
eks_node_max_size     = 3
eks_node_desired_size = 2

argocd_namespace     = "argocd"
argocd_chart_version = null

voting_namespace     = "voting-dev"
voting_prod_namespace = "voting-prod"
postgres_secret_name = "postgres-credentials"
postgres_user        = "postgres"
postgres_database    = "postgres"

monitoring_namespace      = "monitoring"
monitoring_release_name   = "monitoring"
monitoring_chart_version  = "86.3.1"
grafana_admin_secret_name = "grafana-admin-credentials"
grafana_admin_user        = "admin"
